<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <div th:unless="${menu}">
        <h2>No Results</h2>
    </div>

    <div th:if="${menu}">
        <table th:fragment="single-menu" class="menu-listing">
            <tr>
                <th>Name</th>
                <td th:text="${menu.name}"></td>
            </tr>

            <tr>
                <th>Employer</th>
                <td th:text="${menu.category}"></td>
            </tr>

            <tr>
                <th>Location</th>
                <td th:text="${menu.price}"></td>
            </tr>

            <tr>
                <th>Position Type</th>
                <td th:text="${menu.spicy}"></td>
            </tr>

            <tr>
                <th>Core Competency</th>
                <td th:text="${menu.pound}"></td>
            </tr>
        </table>
    </div>


</div>

</body>
</html>